Django==4.0.3
PyCryptodome==3.12.0
pyjwt==1.7.1
python-dateutil==2.8.1; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.5"
python-dotenv==0.14.0
python-json-logger==2.0.1; python_version >= "3.4"
pytimeparse==1.1.8
urllib3==1.5